/* Responsive */

@media screen and (max-width:1350px) {
    .tenth-section-content .left-tenth {
        width: 50%;
    }
}

@media screen and (max-width: 1200px) {
    .tenth-section-content .right-tenth {
        width: 50%;
    }
}

@media screen and (max-width:1100px) {
    .right-first {
        width: 50%;
        display: block;
    }

    .right-first .second {
        margin-top: 1rem;
        margin-right: auto;
    }

    .right-first .first img {
        border-radius: 40px 40px 0 0 ;
        width: 100%;
        /* width: 100px; */
    }

    .second-section img {
        width: 3rem;
    }

    .second-section {
        height: 6rem;
    
    }
    .third-section {
        margin: auto;
    }

    .third-section .left-third {
        width: 40%;
        color: white;
    }
    
    .third-section .right-third {
        width: 25rem;
    }
    
    .third-section-image {
        margin: 0 20px;
    }
    
    .box .title {
        font-size: 1.2rem;
        width: 100%;
        text-align: center;
    }
    
    .right-third .title span {
        display: none;
    }
    
    .about {
        justify-content: space-between;
        height: 70vh;
    }
    
    .about-image {
        width: auto;
    }
    
    .text-seventh {
        margin-right: 1rem;
    }
    
    .about-yourself {
        text-align: justify;
    }
    
    .eight-section .skill {
        padding: 5% 10% 8% 10%;
    }
    
    .left-sixth font {
        font-size: 2.2rem;
    }
    
    .left-sixth .contact-sixth {
        margin: 3rem auto 5% 0;
    }
    
    .right-sixth {
        width: 40%;
    }
    
    .right-sixth img {
        height: 27rem;
        box-shadow: 2px 2px 78px 5px gainsboro;
    }
    
    .contact {
        padding: 5% 0;
    }
    
    .contact .tenth-section-content {
        margin: 4rem 2rem 0 2rem;
    }
}

@media screen and (max-width: 999px) {
    .first-div {
        /* display: block; */
        /* margin-top: 5rem; */
        /* height: auto; */
        position: relative;
    }

    .first-section {
        height: 35rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        gap: 20px;
        
    }

    img.first-image {
        display: block;
         margin-top: 40px;
        background-repeat: no-repeat;
        background-size: cover;
        width: 75%;
        height: 20rem;
        /* z-index: -1; */
        /* position: absolute; */
    }
     

    .first .laptop-img {
        display: none;
    }

    .right-first {
        display: none;
    }

    .first .mobile-img {
        height: 100vh;
        border-radius: 0;
        width: 100vh;
        display: none;
    }

    .left-first {
        width: 90%;
        margin-left: 20px;
        padding-top: 20%;
    }

    .third-section {
        display: block;
        margin: auto 20px;
    }

    .third-section .left-third {
        width: 100%;
    }

    .right-third {
        width: auto;
    }

    .third-section .right-third {
        width: auto;
    }

    .third-section-image {
        height: 5rem;
    }

    .about {
        display: block;
        height: auto;
    }

    .about-image img {
        height: auto;
        width: 100%;
        position: inherit;
        border-radius: 0;
    }

    .text-seventh {
        padding: 10px 10px 30px 10px;
        width: auto;
        margin-right: 0;
    }

    .eight-section .skill {
        padding: 5%;
    }

    .section-head h1 {
        font-size: 1.5rem;
    }

    .sixth-section {
        display: block;
    }

    .left-sixth {
        width: 100%;
        text-align: center;
    }

    .right-sixth {
        width: 100%;
        height: auto;
    }

    .right-sixth img {
        border-radius: 0 0 25px 25px;
        box-shadow: 0 0;
        height: auto;
        margin-bottom: 2rem;
    }

    .contact .tenth-section-content {
        display: block;
    }

    .tenth-section-content .left-tenth {
        width: 100%;
    }

    .tenth-section-content .right-tenth {
        width: 100%;
    }

    .left-tenth h2 {
        margin-bottom: 1.5rem;
    }

    .contact .tenth-section-content {
        margin: 4rem 1rem 0 1rem;
    }
}

/* ***********************************Navigation bar and Footer ****************************************************** */
@media screen and (max-width:999px) {
    nav {
        justify-content: space-evenly;
        z-index: 1;
    }

    nav .right {
        display: block;
    }

    .right {
        position: fixed;
        right : -100%;
        top: -5rem;
        gap: 0;
        background-color: #609966;
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }

    .right ul {
        flex-direction: column;
        /* width: 100px; */
    }

    .right ul li {
        margin: 16px 0;
    }

    .right ul li:hover {
        transition: 0.3s ease;
        padding: 1rem;
        background-color: #40513B;
    }

    .right.active {
        right: 0;
        top: 5rem;
    }

    .hamburger {
        display: block;
        margin-left: 12rem;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }


    /* Footer */

    .icon {
        text-align: center;
    }

    footer {
        height: 5rem;
        /* margin-bottom: 0; */
    }

    footer .footer {
        padding: 0;
    }

    .footer p {
        display: none;
    }

    .footer .icon a {
        margin-top: 20px;
        font-size: 2rem;
        margin-right: 20px;
    }
}